
# R
R
# r-dplyr
bioconductor-deseq2
r-ggplot2
r-gtable
# RColorBrewer
# gridExtra
# ggthemes
# reshape2
gplots
ROCR
flux


# Python
numpy
scipy
bx-python
#pip install --no-cache bx-python==0.7.1

# software
bigWigAverageBed